@model AcademyModel

@{Html.BeginForm("Create", "Academy", FormMethod.Post);}


@{
    ViewBag.Title = "Create";
}

<h2>Creation de Formulaire</h2>
<!--Date et nom-->

@Html.HiddenFor(model => model.Id)

<!--Nom-->
<p>
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
</p>

<p>
    @Html.LabelFor(m => m.Establishments)
    @Html.TextBoxFor(m => m.Establishments)
    @Html.ValidationMessageFor(m => m.Establishments)
</p>

<button type="submit">Soumettre</button>

@{Html.EndForm();}