@model AcademyModel

@{Html.BeginForm("Create", "Academy", FormMethod.Post);}

@{
    ViewBag.Title = "Create";
}
<h2>Creation de Formulaire</h2>

@Html.HiddenFor(model => model.Id)

<p>
    @Html.LabelFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)
    @Html.ValidationMessageFor(m => m.Name)
</p>

<p>Select your Establishments</p>
<!--non fonctionel -> la donnée ne se fait pas récupérer dans Model.Establishments... Faire une fonction JS pour récupérer Id et assigner le bon Establishment?-->
@Html.ListBoxFor(Model => Model.Establishments, new MultiSelectList((List<Establishments>)ViewData["terms"], "Id", "Name"), new { style = "width: 300px;" })

@{
    string selectedTerms = Request["terms"];
    if (selectedTerms == null)
    {
        selectedTerms = "";
    }
}

<button type="submit">Soumettre</button>
@{Html.EndForm();}

@Html.ActionLink("Back to List", "Index")