@model AcademyModel

@{
    ViewBag.Title = "Details";
}

@{Html.BeginForm("Details", "Academy", FormMethod.Post);}
@Html.HiddenFor(model => model.Establishments)

<div>
    <table>
        <tr>
            <th>
                @Html.LabelFor(model => model.Id)
            </th>
            <th>
                @Html.LabelFor(model => model.Name)
            </th>
            <th>
                @Html.LabelFor(model => model.Establishments)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "")
            </td>
            @foreach (var establishment in Model.Establishments)
            {
                <td>
                    @Html.HiddenFor(model => establishment)
                    @Html.EditorFor(modelItem => establishment.Name)
                    @Html.ValidationMessageFor(motelItem => establishment.Name, "")
                </td>
            }
        </tr>
    </table>
    <!--Edit  non functional -> Doesn't seem to be able to keep track of the establishments... no idea why though...-->
    <button type="submit">Soumettre</button>
</div>
@{Html.EndForm();}

@Html.ActionLink("Back to List", "Index")
