@model IEnumerable<AcademyModel>

@{
    ViewBag.Title = "Index";
}

<div>
    <table>
        <tr>
            <th>@Html.LabelFor(model => model.First().Id)</th>
            <th>@Html.LabelFor(model => model.First().Name)</th>
            <th>@Html.LabelFor(model => model.First().Establishments)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                @foreach (var Estab in item.Establishments)
                {
                    <td>
                        @Estab.Name
                    </td>
                }
            </tr>
        }
    </table>
</div>
